[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pmultinom"]
	path = pmultinom
	url = https://github.com/cran/pmultinom
[submodule "scquantum"]
	path = scquantum
	url = https://github.com/cran/scquantum
